vti_encoding:SR|utf8-nl
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP
vti_dependenciesood:IR|1
vti_webservertype:SR|diskweb
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_navbuttonnextlabel:SR|Next
vti_textindexood:IR|0
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_timecreated:TR|01 Mar 2001 03:44:03 -0000
vti_extenderversion:SR|4.0.2.2717
vti_navbuttonprevlabel:SR|Back
vti_longfilenames:IX|1
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_oldestcompatibleversion:SR|2.0.0.0
vti_restartmanual:IX|0
vti_defaultcharset:SR|none
vti_defaultlanguage:SR|en
vti_structfrom_localhost\\c\:\\windows\\desktop\\cerebralfission 9.31.00/c\:/windows/desktop/cerebralfission 9.31.00:TR|25 Feb 2001 02:55:03 -0000
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_hassearchbot:BR|false
vti_autorecalc:IX|1
vti_copytimestamp_http\://WWW.BAMAMALL.COM/CHRISBELL:TR|02 Mar 2001 03:07:30 -0000
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_navbuttonhomelabel:SR|Home
vti_structto_fp.geocities.com\:80/cerebralfission:TR|25 Feb 2001 02:55:03 -0000
vti_copytimestamp_http\://fp.geocities.com/cerebralfission:TR|08 Mar 2001 01:27:05 -0000
vti_insecureserverurl:SR|file://
vti_disableautoimgsizeexts:SX|.asp
vti_showhiddenpages:IR|1
vti_structto_localhost\\c\:\\windows\\desktop\\master file\\all other\\web pages\\geocities 041501/c\:/windows/desktop/master file/all other/web pages/geocities 041501:TR|25 Feb 2001 02:55:03 -0000
vti_copytimestamp_file\:///C\:/WINDOWS/Desktop/Master File/All other/WEB PAGES/GEOCITIES 041501/C\:/WINDOWS/Desktop/Master File/All other/WEB PAGES/GEOCITIES 041501:TR|16 Apr 2001 00:23:13 -0000
vti_casesensitiveurls:IX|0
vti_textextensions:SX|.txt.
vti_httpdversion:SX|FrontPage DBW
vti_ignorekeyboard:IR|0
vti_navbuttonuplabel:SR|Up
vti_structto_www.bamamall.com\:80/chrisbell:TR|25 Feb 2001 02:55:03 -0000
